<article class="book">
  <h2>
    <%= link_to highlight(book.title, @search_query), book.route %>
  </h2>

  <%= render partial: 'review', locals: {book: book} %>

  <div class="book-description">
    <%= link_to(
          image_tag(book.thumb_url),
          book.picture_url
        ) if book.has_picture? %>

    <p><%= highlight(book.description || '', @search_query) %></p>
  </div>

  <% if belongs_to_user(book) %>
    <ul>
      <li class="btn btn-primary"><%= link_to t('.edit'), edit_book_path(book.route) %></li>
      <li class="btn btn-primary"><%= link_to t('.destroy'), book_path(book.route),
        method: :delete,
        data: {confirm: t('dialogs.destroy')} %>
      </li>
    </ul>
    <% else %>
      <li type="button" class="btn btn-primary"><%= link_to t('.loan'), edit_book_path(book.route) %></li>
  <% end %>
</article>
